
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %}Index{% endblock titulo %}</title>
    {% block extracss %}
    {% endblock extracss %}
</head>
<body>
    <form  method="GET">

        <input type="text" name="prd">
        <button >Buscar</button>

<a id="e" href="{% url 'sakila:buscar_actor' %}">Ver todos</a>

{% if actores %}
    <ul>
        {% for first_name in actores %}

        <li>
            {{first_name.id_actor}}
            {{ first_name.first_name }}
            {{ first_name.last_name }}
            {{ first_name.last_update }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
    </form>
</body>
</html>
