{% extends 'index.html' %}
{% block titulo %}
    Actores
{% endblock titulo %}
{% block body %}
<style>
     a {
      background-color: red;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      }
</style>
<form method="POST">
    {% csrf_token %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
        {{actor_form.as_p}}
    <a href="{% url 'sakila:listar_actor'   %}">Guardar</a>
    {% endif %}
</form>

{% endblock body %}