{% extends 'index.html' %}

{% block titulo %}
    Listado de Actores
{% endblock titulo %}
{% block body %}
    {% if actores %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>last_update</th>
                </tr>
            </thead>
            <tbody>
                {% for actor in actores %}
                    <tr>
                        <td>{{ autor.actor_id }}</td>
                        <td>{{ autor.first_name }}</td>
                        <td>{{ autor.last_name }}</td>
                        <td>{{ autor.last_update }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No existen Actores registrados</h1>
    {% endif %}

{% endblock body %}
